body {
    background-color: rgb(86, 9, 158);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
body:first-child {
    font-weight: 800;
}
section  {
    width: 60vh;
    height: 70vh;
}
input {
    width: 59.5vh;
    height: 18vh;
    border-radius: 10px;
    font-size: xx-large;
}
section div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6,1fr);
    gap: 5px;

}