
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

body.dark-mode {
    background-color: #1a1a2e;
    color: #e0e0e0;
}

body.dark-mode .header-section {
    background-color: #16213e;
}

body.dark-mode .header-section a {
    color: #e0e0e0;
}

body.dark-mode .favourites-section {
    background-color: #1f1f3a;
}

body.dark-mode #favouriteCitys-section {
    background-color: #1a1a2e;
}

body.dark-mode #favouriteCitys-section div {
    background-color: #2a2a4a;
    color: #e0e0e0;
}

body.dark-mode .footer-section {
    background-color: #16213e;
}

body.dark-mode .footer-section div p a {
    color: #e0e0e0;
}

body.dark-mode #homeButton {
    color: #e0e0e0;
}

body.dark-mode #homeButton:hover {
    background-color: #2a3a5a;
}

body.dark-mode .header-section a:hover {
    background-color: #2a3a5a;
}

body.dark-mode .header-section button {
    background-color: #2a2a4a;
    color: #e0e0e0;
    border-color: #e0e0e0;
}

body.dark-mode .header-section button:hover {
    background-color: #3a3a5a;
}

body.dark-mode .favourites-section div button {
    background-color: #2a2a4a;
    color: #e0e0e0;
    border-color: #e0e0e0;
}

body.dark-mode .favourites-section div button:hover {
    background-color: #3a3a5a;
}

body.dark-mode .favourites-section div input {
    background-color: #2a2a4a;
    color: #e0e0e0;
    border-color: #e0e0e0;
}

body.dark-mode .favourites-section div h1 {
    color: #e0e0e0;
}

body :first-child {
    width: 100%;
}

/*Header Section*/

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    height: 10vh;
    width: 100vh;
}

#homeButton {
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: 3em;
    font-weight: 900;
    text-decoration: none;
    color: black;
}

.header-section a {
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: 3em;
    font-weight: 900;
    text-decoration: none;
    color: black;
}

.header-section button:hover {
    border: 3px solid black;
}

.header-section a:hover {
    background-color: rgb(197, 158, 111);
    transition: background-color 0.3s ease-in-out;
}

.header-section button {
    background-color: rgb(219, 183, 139);
    border: 1px solid black;
    padding: 8px 16px;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 5px;
}

.header-section button:hover {
    background-color: rgb(197, 158, 111);
}

/*Favourites/Deletion Section*/

.favourites-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    background-color: rgb(241, 210, 171);
}

.favourites-section div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

.favourites-section div h1 {
    width: 40%;
}

.favourites-section div button {
    height: 50%;
    background-color: rgb(219, 183, 139);
    border: 1px solid black;
}

.favourites-section div input {
    height: 50%;
    background-color: rgb(230, 194, 150);
    border: 1px solid black;
    
}

.favourites-section div input:focus {
    outline: none;
    border: 2px solid black;
}
.favourites-section div button:hover {
    background-color: rgb(170, 127, 75);
    transition: background-color 0.3s ease-in-out;
}

.favourites-section div input:hover {
    background-color: rgb(170, 127, 75);
    transition: background-color 0.3s ease-in-out;
    border: 1px solid black;
}

.favourites-section div button:last-child {
    background-color: rgb(170, 127, 75);
    border: 1px solid black;
}

.favourites-section div button:last-child:hover {
    background-color: rgb(156, 114, 64);
    transition: background-color 0.3s ease-in-out;
    border: 1px solid black;
}



/*Favourite Citys Section*/

#favouriteCitys-section {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: rgb(225, 192, 151);
    height: 70vh;
    gap: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    
    


}

#favouriteCitys-section div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(197, 158, 111);
    border-radius: 10px;
    width: 100%;
    max-height: 100%;
    margin: 10px 0;
    box-sizing: border-box;
}





#favouriteCitys-section div img {
    height: 40%;
    width: auto;
    max-width: 100%;
    border-radius: 5px;

}

#favouriteCitys-section div a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 1.2em;
}

#favouriteCitys-section div a:hover {
    text-decoration: underline;
    
}

/*Footer Section*/

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 10vh;
    width: 100%;
}

.footer-section div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.footer-section div p {
    text-align: center;
    margin: 0;
}

.footer-section div p a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.footer-section div p a:hover {
    text-decoration: underline;
}