body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

body.dark-mode {
    background-color: #1a1a2e;
    color: #e0e0e0;
}

body.dark-mode .header-section {
    background-color: #16213e;
}

body.dark-mode .header-section a {
    color: #e0e0e0;
}

body.dark-mode .information-section {
    background-color: #1f1f3a;
}

body.dark-mode .main-section {
    background-color: #1a1a2e;
}

body.dark-mode .main-section div h1 {
    background-color: #2a2a4a;
    color: #e0e0e0;
}

body.dark-mode .footer-section {
    background-color: #16213e;
}

body.dark-mode .footer-section div p a {
    color: #e0e0e0;
}

body.dark-mode #homeButton {
    color: #e0e0e0;
}

body.dark-mode #homeButton:hover {
    background-color: #2a3a5a;
}

body.dark-mode .header-section a:hover {
    background-color: #2a3a5a;
}

body.dark-mode .header-section button {
    background-color: #2a2a4a;
    color: #e0e0e0;
    border-color: #e0e0e0;
}

body.dark-mode .header-section button:hover {
    background-color: #3a3a5a;
}

body.dark-mode .information-section {
    background-color: #1f1f3a;
}

body.dark-mode .information-section div button {
    background-color: #2a2a4a;
    color: #e0e0e0;
    border-color: #e0e0e0;
}

body.dark-mode .information-section div button:hover {
    background-color: #3a3a5a;
}

/*Header Section*/

body :first-child {
    width: 100%;
}

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    height: 10vh;
    width: 100vh;
}

#homeButton {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 3em;
    font-weight: 900;
    text-decoration: none;
    color: black;
}

.header-section a {
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: 3em;
    font-weight: 900;
    text-decoration: none;
    color: black
}

.header-section a:hover {
    background-color: rgb(197, 158, 111);
    transition: background-color 0.3s ease-in-out;
}

.header-section button {
    background-color: rgb(219, 183, 139);
    border: 1px solid black;
    padding: 8px 16px;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 5px;
}

.header-section button:hover {
    background-color: rgb(197, 158, 111);
}

/*Information Section*/

.information-section {
    height: 10vh;
    width: 100%;
    background-color: rgb(241, 210, 171);
}

.information-section div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.information-section div h1 {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.information-section div button {
    height: 50%;
    background-color: rgb(219, 183, 139);
    border: 1px solid black;
}

/*Main Section*/

.main-section {
    display: grid;
    grid-template-columns: 2fr repeat(6,1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    height: 80vh;
    width: 100%;
    background-color: rgb(225, 192, 151);
}

.main-section div img {
    width: auto;
    height: 20%;
    max-width: 90%;
    border-radius: 5px;
    display: block;
}



.main-section div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.main-section div h1 {
    text-align: center;
    margin: 0;
    background-color: rgb(236, 188, 130);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}

.main-section div h3:last-child {
    margin-bottom: 3%;
}


/*Footer Section*/

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 10vh;
    width: 100%;
}

.footer-section div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.footer-section div p {
    text-align: center;
    margin: 0;
}

.footer-section div p a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.footer-section div p a:hover {
    text-decoration: underline;
}

