body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

/*Header Section*/

body :first-child {
    width: 100%;
}

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    height: 10vh;
    width: 100vh;
}

#homeButton {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 3em;
    font-weight: 900;
    text-decoration: none;
    color: black;
}

.header-section a {
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: 3em;
    font-weight: 900;
    text-decoration: none;
    color: black
}

.header-section a:hover {
    background-color: rgb(197, 158, 111);
    transition: background-color 0.3s ease-in-out;
}

/*Main Section*/

.main-section {
    display: grid;
    grid-template-columns: 2fr repeat(6,1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    height: 80vh;
    width: 100%;
    background-color: rgb(225, 192, 151);
}

.main-section div img {
    width: auto;
    height: 20%;
    max-width: 90%;
    border-radius: 5px;
    display: block;
}



.main-section div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.main-section div h1 {
    text-align: center;
    margin: 0;
    background-color: rgb(236, 188, 130);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}

.main-section div h3:last-child {
    margin-bottom: 3%;
}


/*Footer Section*/

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 10vh;
    width: 100%;
}

.footer-section div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.footer-section div p {
    text-align: center;
    margin: 0;
}

.footer-section div p a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}